.box_main { 
    background-color: #bbe1ff;

}
.box_left,
.box_center,
.box_right {
    width: 30%;
    margin-top: 100px;
    height: 500px;
    background-color: white;
    margin-bottom: 100px;
    margin-right: 4%;
    border-radius: 10px;
    box-shadow: -8px 8px 1px -2px rgba(179,179,179,0.74);

}
.box_center {
    width: 50%;
    align-items: center;
    background-color: #bbe1ff;
    margin-bottom: 100px;
    margin-right: 4%;
    box-shadow: none

    /* justify-content: center; */
}

.box_right {
    width: 30%;
}


.box_left_level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_center_part {
    background-color: white;
    border: none;
    width: 90%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #267dc0;
    box-shadow: -8px 8px 1px -2px rgba(179,179,179,0.74);
    cursor: pointer;
}

.box_center_part_title {
    color: white;
    border: none;
    width: 90%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #267dc0;
    box-shadow: -8px 8px 1px -2px rgba(179,179,179,0.74);
    cursor: pointer;
}


.box_center_part:hover {
    background-color: #267dc0;
}

.box_center_part a  {
    color: #267dc0;
    font-weight: bold;
}

.box_center_part a:hover{
    color: white;
    padding: 6px 12px;

}

.button_level {  
    width: 80%;
    height: 50px;
}

.level_active {
    background-color: #FDCCBF;
    color: #FDCCBF !important;
}